<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="DriverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:orcl"></property>
		<property name="username" value="scott"></property>		
		<property name="password" value="000000"></property>		
	</bean>
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
			    <prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingLocations">
			<array>
				<value>classpath:com/gzh/yss/hbms/*.hbm.xml</value>
			</array>
		</property>
	</bean>
	<bean id="userdao" class="com.gzh.yss.daoImp.UserDaoImp">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>	
	<bean id="userService" class="com.gzh.yss.serviceImp.UserServiceImp">
		<property name="userDao" ref="userdao"></property>
	</bean>	
	<bean id="userAction" class="com.gzh.yss.action.UserAction">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txadvice" transaction-manager="transactionManager">
        <tx:attributes>
       		<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED"
       		 rollback-for="java.lang.Exception"/>
       	</tx:attributes>
    </tx:advice>
	<aop:config>
		<aop:advisor advice-ref="txadvice" pointcut="execution(* com.gzh.yss.service.UserService.*(..))"/>
	</aop:config>
	
</beans>